.arhive-head {
  padding: 80px 0;
  margin-bottom: 40px;
  background: #f5f5f5;

  .archive-title {
    text-align: center;
    font-weight: normal;
    display: inline;
    
    span {
      font-weight: 700;
    }
  }

.archive {
  
  h3 {
    text-align: center;
  }
  &-ul {
    margin-left: 10px;
  }
  &-li {
    padding-left: 0;
    margin-left: 15px; 
  }
  a {
    text-decoration: none;
  } 
}
  
.tag {
  display: inline;
  }
  
  @media only screen and (max-width: $mobile) {
    margin-bottom: 40px;
  }
}
