<!-- begin footer -->
<footer class="footer">
  <div class="container">

    {% if site.data.settings.mailchimp %}
    {% include subscribe.html %}
    {% else %} {% endif %}

    {% if site.data.settings.instagram %}
    {% include instagram.html %}
    {% else %} {% endif %}

    {% include contact-link.html %}
    <div><p>The content of this website are provided for informational purposes only and should not be the sole basis for financial decisions. It is important to do your own research and analysis before making any investment based on your personal financial situation. Invest with Credo is not a registered investment, legal, or tax advisor/broker.</p></div>
    <div class="copyright">Copyright &copy; {{site.time | date: '%Y'}}. Made in NYC.</div>
</div>
</footer>
<!-- end footer -->
